@import 'navbar';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  // layout colors
  --main-color: rgb(56, 176, 90);
  --bg-color: rgba(36, 33, 33, 1);

  // font colors
  --main-font-color: rgba(214, 213, 213, 1);
}

.wrapper {
  width: 100%;
  background-color: rgba(36, 33, 33, 1);
  color: rgb(214, 213, 213);
  text-transform: uppercase;
  font-family: sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(36, 33, 33, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  
}

.about,
.content,
.news,
.contact {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
